$primary-gradient: linear-gradient(180deg, #ff6857 0%, #ff8d3b 100%);
$blue: #524be0;
$dark-blue: #292490;
$dark: #353535;
$orange: #ff8d3b;
$light-grey: #f9f9f9;
$grey: #646464;

$header-height: 140px;

@mixin paper {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.15);
}

@mixin padding-for-anchor {
    border-top: 55px solid transparent;
    margin-top: -55px;

    background-clip: padding-box;
}
