@import "./variables";

.big-image-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 18;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(1, 1, 1, 0.25);

    visibility: hidden;
    opacity: 0;

    transition: 0.3s;

    img {
        max-width: 80vw;
        max-height: 80vh;
    }
}

.big-image-modal__active{
    visibility: visible;
    opacity: 1;
}
