@import "./variables";

.feedback-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;

    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background: rgba(1, 1, 1, 0.25);

    visibility: hidden;
    opacity: 0;

    transition: 0.3s;

    &__form {
        background: url("../images/feedback/feedback-modal-bg.png") no-repeat, #fff;
        background-size: contain;

        max-width: 730px;
        min-width: 530px;
        padding: 48px 64px 84px 64px;
        border-radius: 16px;
        color: $dark;
        position: relative;
        margin: 0 20px;

        transition: 0.3s;

        transform: translateY(-50px);

        @media (max-width: $sm) {
            max-width: unset;
            min-width: 90%;
            padding: 40px 20px;
        }

        &__cross {
            position: absolute;
            right: 32px;
            top: 32px;
            cursor: pointer;

            @media (max-width: $sm) {
                right: 16px;
                top: 16px;
            }
        }

        &__title {
            color: $orange;
        }

        &__description {
            font-size: 16px;
            line-height: 28px;
            margin: 24px 0 40px 0;

            @media (max-width: $sm) {
                margin: 8px 0 24px 0;
                font-size: 14px;
                line-height: 20px;
            }
        }

        .text-field {
            margin-bottom: 16px;

            &__label {
                display: block;
                color: $orange;
                font-size: 14px;
                line-height: 28px;
                font-weight: 700;
            }

            &__input {
                width: 100%;
                background: #fff;
                border: 1px solid $blue;
                border-radius: 3px;
                padding: 12px 18px;

                @media (max-width: $sm) {
                    padding: 10px 16px;
                }

                &:focus {
                    outline: none;
                }
            }
        }

        &__button {
            font-size: 16px !important;

            @media (max-width: $sm) {
                padding: 10px 24px !important;
            }
        }

        &__agreement {
            margin-left: 40px;
            color: $middle-grey;
            font-size: 14px;
            line-height: 24px;

            @media (max-width: $sm) {
                font-size: 10px;
                line-height: 12px;
                margin-left: 20px;
            }
        }

        &__footer {
            display: flex;
            justify-content: space-between;
            margin-top: 36px;
        }
    }
}

.feedback-modal__active {
    visibility: visible;
    opacity: 1;

    .feedback-modal__form {
        transform: translateY(0);
    }
}
