@import "_variables.scss";

.header {
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;

    &__top {
        background: $dark;
        color: #fff;
        padding: 8px 0 8px 0;

        @media (max-width: $md) {
            display: none;
        }

        .address {
            display: flex;

            &__text {
                margin-left: 24px;
                align-self: center;
            }
        }

        .work-time {
            display: flex;
            justify-content: flex-end;

            &__text {
                align-self: center;
                margin-left: 24px;

                &__first-gap {
                    margin-right: 8px;
                }

                &__second-gap {
                    margin: 0 8px 0 24px;
                }
            }
        }
    }

    &__bottom {
        background: #fff;
        padding: 20px 0 20px 0;

        transition: box-shadow 0.3s ease;

        @media (max-width: $md) {
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
        }

        &__row {
            @media (max-width: $md) {
                display: flex;
            }
        }

        .nav {
            &__list {
                height: 40px;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .active-nav-item {
                    .line {
                        height: 2px;
                        width: 100%;
                    }
                }
            }

            &__item {
                position: relative;
                color: $dark;
                font-size: 14px;
                font-weight: bold;
                cursor: pointer;

                .line {
                    position: absolute;
                    height: 2px;
                    width: 0%;
                    background: $orange;
                    margin-top: 4px;

                    transition: 0.3s;
                }
            }

            @media (max-width: $md) {
                display: none;
            }
        }

        .phone-button {
            text-align: right;

            @media (max-width: $md) {
                display: none;
            }
        }

        .mobile-menu-icon-wrapper {
            display: none;

            @media (max-width: $md) {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }

            .menu-icon {
                cursor: pointer;
            }
        }
    }

    .is-scrolled {
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    }

    &__mobile {
        position: absolute;
        top: 72px;
        left: 0;
        width: 100%;
        z-index: -1;
        transform: translateY(-100px);
        visibility: hidden;
        opacity: 0;

        transition: 0.3s;

        &__head {
            background: $dark;
            color: #fff;
            padding: 16px 0;
            font-size: 12px;
            line-height: 16px;
        }

        .address {
            display: flex;

            &__text {
                margin-left: 12px;
                align-self: center;
            }
        }

        .work-time {
            @media (max-width: $md) {
                display: flex;
                flex-direction: row-reverse;
            }

            &__text {
                align-self: center;
                margin-right: 12px;

                &__first-gap {
                    margin-right: 8px;
                }

                &__second-gap {
                    margin: 0 8px 0 24px;
                }
            }
        }

        &__body {
            background: #fff;
            padding: 24px 0 32px 0;
            border-radius: 0px 0px 8px 8px;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);

            .nav {
                .active-nav-item {
                    .line {
                        height: 2px;
                        width: 100%;
                    }
                }

                &__item {
                    position: relative;
                    width: fit-content;
                    margin: auto;
                    color: $dark !important;
                    font-size: 14px;
                    font-weight: bold;
                    cursor: pointer;
                    margin-bottom: 16px;

                    .line {
                        position: absolute;
                        height: 2px;
                        width: 0%;
                        background: $orange;
                        margin-top: 4px;

                        transition: 0.3s;
                    }
                }
            }

            .phone-button {
                text-align: center;

                @media(max-width: $md){
                    margin-top: 30px;
                }
            }
        }
    }

    .is-opened-menu {
        // display: block;
        // min-height: 366px;
        // max-height: 400px;
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }
}
