@import "_variables.scss";
@import "_fonts.scss";

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    color: $grey;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $grey !important;

    &:hover {
        text-decoration: none;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.primary-button {
    background: $blue;
    border-radius: 5px;
    padding: 16px 36px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    font-size: 14px;

    transition: background 0.3s ease;

    &:hover {
        background: $dark-blue;
    }

    &:focus {
        outline: none;
    }
}

.second-button {
    background: #fff;
    border: 1px solid $blue;
    border-radius: 5px;
    padding: 15px 35px;
    color: $blue;
    cursor: pointer;
    font-family: "Exo 2", sans-serif;
    font-size: 14px;

    transition: all 0.3s ease;

    &:hover {
        background: $dark-blue;
        color: #fff;
        border: 1px solid $dark-blue;
    }

    &:focus {
        outline: none;
    }
}

.small-button {
    padding: 10px 24px;
}

.regular-text {
    font-size: 14px;
    line-height: 20px;
}

.bold {
    font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dark;
    margin: 0;
}

h1 {
    font-weight: bold;
    font-size: 72px;
    line-height: 80px;
    color: #fff;
}

h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 64px;
}

h3 {
    font-size: 32px;
    line-height: 48px;
    font-weight: 700;
}

h4 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
}

.orange-line {
    width: 65px;
    height: 4px;
    background: $orange;
    margin-top: 24px;
}
