@import "./variables";

.prices-modal {
    @include paper();
    position: absolute;
    z-index: 3;
    left: 568px;
    top: 6px;
    box-shadow: 4px 3px 8px rgba(0, 0, 0, 0.15);
    width: fit-content;
    padding: 12px 24px;
    max-width: 540px;

    visibility: hidden;
    opacity: 0;
    transform: translateX(-50px);

    transition: 0.3s;

    &:before {
        content: "";
        background: rgba(0, 0, 0, 0);
        display: block;
        position: absolute;
        left: -30px;
        top: 0px;
        height: 24px;
        width: 30px;
        border-radius: 0 0 8px 0;
        box-shadow: inset -3px -3px 10px -5px rgba(0, 0, 0, 0.15);
    }

    &:after {
        content: "";
        background: rgba(0, 0, 0, 0);
        display: block;
        position: absolute;
        bottom: 0px;
        left: -30px;
        height: calc(100% - 24px - 26px);
        width: 30px;
        border-radius: 0 8px 0 0;
        box-shadow: inset -3px 3px 10px -5px rgba(0, 0, 0, 0.15);
    }

    &__item {
        display: flex;
        font-size: 18px;
        line-height: 26px;
        margin: 12px 0;

        &__price {
            min-width: 90px;
            color: $orange;
            font-weight: 700;
            padding-right: 12px;
            white-space: nowrap;
        }
    }

    &__hook {
        position: absolute;
        width: 35px;
        height: 23px;
        background: #fff;
        left: -34px;
        top: 25px;
    }
}

.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
