@import "./variables";

.works {
    padding: 0 0 100px 0;

    @media (max-width: $sm) {
        padding: 0 0 40px 0;
    }

    &__title {
        margin-bottom: 44px;

        @media (max-width: $sm) {
            margin-bottom: 24px;
        }
    }

    .slider-with-arrows {
        @media (max-width: $md) {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }

        .tns-outer {
            @media (max-width: $sm) {
                display: flex;
                align-items: center;
            }
        }
    }

    &__main-slider {
        overflow: hidden;
        height: 620px;
        

        @media (max-width: $sm) {
            height: 350px;
            margin: 0 -20px;
        }

        @media (max-width: $xs) {
            height: 250px;
        }

        img {
            @media (max-width: $sm) {
                width: 100%;
            }
        }
    }

    &__slider {
        img {
            max-height: 100px;
            width: 100%;
            @media (max-width: $md) {
                height: auto;
            }

            // width: 100%;


            &:focus {
                outline: none !important;
            }
        }

        &__item {
            overflow: hidden;
            &:focus {
                outline: none !important;
            }
        }

        &__side {
            width: 100px;
        }

        &__button-1 {
            width: 0;
            height: 0;
            border-left: 26px solid transparent;
            border-right: 26px solid transparent;
            border-bottom: 12px solid $blue;
            border-radius: 3px;
            cursor: pointer;
            margin: 0 auto 16px auto;

            @media (max-width: $md) {
                border-left: none;
                border-bottom: 26px solid transparent;
                border-top: 26px solid transparent;
                border-right: 12px solid $blue;

                margin: 0 12px 0 0;
            }

            @media (max-width: $xs) {
                border-bottom: 18px solid transparent;
                border-top: 18px solid transparent;
                border-right: 8px solid $blue;
            }
        }

        &__button-2 {
            width: 0;
            height: 0;
            border-left: 26px solid transparent;
            border-right: 26px solid transparent;
            border-top: 12px solid $blue;
            border-radius: 3px;
            cursor: pointer;
            margin: 16px auto 0 auto;

            @media (max-width: $md) {
                border-right: none;
                border-bottom: 26px solid transparent;
                border-top: 26px solid transparent;
                border-left: 12px solid $blue;

                margin: 0 0 0 12px;
            }

            @media (max-width: $xs) {
                border-bottom: 18px solid transparent;
                border-top: 18px solid transparent;
                border-left: 8px solid $blue;
            }
        }
    }
}
